.dialog__button{
    margin:"14px 0px 0px 13.7 ";
    gap:"9.7px";
    border-Radius:0;
      display:"flex";
      justify-Content:"flex-start";
  
}
.dialog__button__text{
  font-Size:"12px";
  font-Family:"Lato";
  font-Weight:"400";
  color:rgba(32,32,32,1);
}


